.container {
    background: #000;
    overflow: hidden;
}

.main_wrapper{
    position: absolute;
    top: 140px;
    color: yellow;
    font-size: 450%;
    font-weight: 600;
    letter-spacing: 6px;
    perspective: 450px;
    overflow: hidden;
    bottom: 140px
}

.main_content {
    position: relative;
    animation: main_content 60s linear;    
}

.main_content > .main-title {
    font-size: 55%;
    text-align: center;
}

.main_content > .main-title h1 {
    text-transform: uppercase;
  } 

  @keyframes main_content {
    0% {
      top: 0;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  } 

  